# [Intro to Data Structures](https://pandas.pydata.org/pandas-docs/version/0.17.0/dsintro.html#series)

# [Series](https://pandas.pydata.org/pandas-docs/version/0.17.0/dsintro.html#series)

In [94]:
import numpy as np
import pandas as pd

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a   -0.134647
b   -0.369828
c    0.965894
d   -0.729104
e    0.388624
dtype: float64

In [ ]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
pd.Series(np.random.randn(5))

0   -1.156779
1   -0.052283
2   -1.420714
3   -0.376436
4    1.476581
dtype: float64

In [ ]:
d = {'a' : 0., 'b' : 1., 'c' : 2.}
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [ ]:
pd.Series(d, index=['b', 'c', 'd', 'a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

From scalar value If data is a scalar value, an index must be provided. The value will be repeated to match the length of index

In [ ]:
pd.Series(5, index=['a', 'b', 'c', 'd', 'e'])

a    5
b    5
c    5
d    5
e    5
dtype: int64

In [ ]:
s

a   -0.134647
b   -0.369828
c    0.965894
d   -0.729104
e    0.388624
dtype: float64

In [ ]:
s[0]

-0.13464694709430383

In [ ]:
s[:3]

a   -0.134647
b   -0.369828
c    0.965894
dtype: float64

In [ ]:
s[s > s.median()]

c    0.965894
e    0.388624
dtype: float64

In [ ]:
s[[4,3,1]]

e    0.388624
d   -0.729104
b   -0.369828
dtype: float64

In [ ]:
np.exp(s)

a    0.874024
b    0.690853
c    2.627135
d    0.482341
e    1.474949
dtype: float64

In [ ]:
s['a'] == s[[0,]]

a    True
dtype: bool

In [ ]:
s['a']

-0.13464694709430383

In [ ]:
s['e']

0.38862358570223426

In [ ]:
s

a   -0.134647
b   -0.369828
c    0.965894
d   -0.729104
e    0.388624
dtype: float64

In [ ]:
'e' in s

True

In [ ]:
'f' in s

False

In [ ]:
s.get('f', np.nan)

nan

In [ ]:
s+s

a   -0.269294
b   -0.739656
c    1.931788
d   -1.458208
e    0.777247
dtype: float64

In [ ]:
s*2

a   -0.269294
b   -0.739656
c    1.931788
d   -1.458208
e    0.777247
dtype: float64

In [ ]:
np.exp(s)

a    0.874024
b    0.690853
c    2.627135
d    0.482341
e    1.474949
dtype: float64

In [ ]:
s[1:]

b   -0.369828
c    0.965894
d   -0.729104
e    0.388624
dtype: float64

In [ ]:
s[:-1]

a   -0.134647
b   -0.369828
c    0.965894
d   -0.729104
dtype: float64

In [ ]:
s[1:] + s[:-1]

a         NaN
b   -0.739656
c    1.931788
d   -1.458208
e         NaN
dtype: float64

In [ ]:
s = pd.Series(np.random.randn(5), name='something')
s

0   -0.781463
1    2.209984
2    0.806237
3   -0.479672
4    0.547654
Name: something, dtype: float64

In [ ]:
s.name

'something'

# [DataFrame](https://pandas.pydata.org/pandas-docs/version/0.17.0/dsintro.html#dataframe)

In [ ]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']), 
     'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [ ]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [ ]:
pd.DataFrame(d, index=['d', 'b', 'a'], columns=['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [ ]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
df.columns

Index(['one', 'two'], dtype='object')

In [ ]:
d = {'one' : [1., 2., 3., 4.],
     'two' : [4., 3., 2., 1.]}

pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [ ]:
pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [ ]:
data = np.zeros((2,), dtype=[('A', 'i4'), ('B', 'f4'), ('C', 'a10')])
data

array([(0, 0., b''), (0, 0., b'')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [ ]:
data[:] = [(1, 2., 'Hello'), (2, 3., "World")]
data

array([(1, 2., b'Hello'), (2, 3., b'World')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [ ]:
pd.DataFrame(data)

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'

In [ ]:
pd.DataFrame(data, index=['first', 'second'])

        A    B         C
first   1  2.0  b'Hello'
second  2  3.0  b'World'

In [ ]:
pd.DataFrame(data, columns=['C', 'A', 'B'])

          C  A    B
0  b'Hello'  1  2.0
1  b'World'  2  3.0

In [ ]:
pd.DataFrame(data, index=['first', 'second'], columns=['C', 'A', 'B', 'D'])

               C  A    B    D
first   b'Hello'  1  2.0  NaN
second  b'World'  2  3.0  NaN

In [ ]:
data2 = [{'a' : 1, 'b' : 2}, {'a' : 5, 'b' : 10, 'c' : 20}]

pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [ ]:
pd.DataFrame(data2, index=['first', 'second'])

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [ ]:
pd.DataFrame(data2, columns=['a', 'b'])

   a   b
0  1   2
1  5  10

In [ ]:
pd.DataFrame(
  {('a', 'b'): {('A', 'B'): 1, ('A', 'C'): 2},
  ('a', 'a'): {('A', 'C'): 3, ('A', 'B'): 4},
  ('a', 'c'): {('A', 'B'): 5, ('A', 'C'): 6},
  ('b', 'a'): {('A', 'C'): 7, ('A', 'B'): 8},
  ('b', 'b'): {('A', 'D'): 9, ('A', 'B'): 10}}
)

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

In [ ]:
data

array([(1, 2., b'Hello'), (2, 3., b'World')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [ ]:
pd.DataFrame.from_records(data, index='C')

          A    B
C
b'Hello'  1  2.0
b'World'  2  3.0

In [ ]:
# https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.from_items.html
pd.DataFrame.from_dict([('A', [1, 2, 3]), ('B', [4, 5, 6])])

   0          1
0  A  [1, 2, 3]
1  B  [4, 5, 6]

In [ ]:
# pd.DataFrame.from_items([('A', [1, 2, 3]), ('B', [4, 5, 6])], orient='index', columns=['one', 'two', 'three'])

In [ ]:
# https://pandas.pydata.org/pandas-docs/version/0.17.0/dsintro.html#column-selection-addition-deletion
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [ ]:
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [ ]:
df['three'] = df['one'] * df['two']
df['flag'] = df['one'] > 2
df

   one  two  three   flag
a  1.0  1.0    1.0  False
b  2.0  2.0    4.0  False
c  3.0  3.0    9.0   True
d  NaN  4.0    NaN  False

In [ ]:
del df['two']
three = df.pop('three')
df

   one   flag
a  1.0  False
b  2.0  False
c  3.0   True
d  NaN  False

In [ ]:
three

a    1.0
b    4.0
c    9.0
d    NaN
Name: three, dtype: float64

In [ ]:
df['foo'] = 'bar'
df

   one   flag  foo
a  1.0  False  bar
b  2.0  False  bar
c  3.0   True  bar
d  NaN  False  bar

In [ ]:
df['one_trunc'] = df['one'][:2]
df

   one   flag  foo  one_trunc
a  1.0  False  bar        1.0
b  2.0  False  bar        2.0
c  3.0   True  bar        NaN
d  NaN  False  bar        NaN

In [ ]:
df.insert(1, 'bar', df['one'])
df

   one  bar   flag  foo  one_trunc
a  1.0  1.0  False  bar        1.0
b  2.0  2.0  False  bar        2.0
c  3.0  3.0   True  bar        NaN
d  NaN  NaN  False  bar        NaN

In [ ]:
iris = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
# assign always returns a copy of the data, leaving the original DataFrame untouched.
iris.assign(sepal_ratio = iris['sepal_width'] / iris['sepal_length']).head()

   sepal_length  sepal_width  petal_length  petal_width species  sepal_ratio
0           5.1          3.5           1.4          0.2  setosa     0.686275
1           4.9          3.0           1.4          0.2  setosa     0.612245
2           4.7          3.2           1.3          0.2  setosa     0.680851
3           4.6          3.1           1.5          0.2  setosa     0.673913
4           5.0          3.6           1.4          0.2  setosa     0.720000

In [ ]:
iris.assign(sepal_ratio = lambda x: (x['sepal_width'] / x['sepal_length'])).tail()

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_ratio
145,6.7,3.0,5.2,2.3,virginica,0.447761
146,6.3,2.5,5.0,1.9,virginica,0.396825
147,6.5,3.0,5.2,2.0,virginica,0.461538
148,6.2,3.4,5.4,2.3,virginica,0.548387
149,5.9,3.0,5.1,1.8,virginica,0.508475

In [ ]:
# iris.query('sepal_length > 5.0').assign(sepal_ratio = lambda x: x.sepal_width / x.sepal_length, sepal_ratio = lambda x: x.petal_width / x.petal_length).plot(kind='scatter', x='sepal_ratio', y='petal_ratio')

![ss](https://pandas.pydata.org/pandas-docs/version/0.17.0/_images/basics_assign.png)

In [ ]:
# df.assign(C = lambda x: x['A'] + x['B']).assign(D = lambda x: x['A'] + x['C'])

<table border="1" class="docutils">
<colgroup>
<col width="50%">
<col width="33%">
<col width="17%">
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Operation</th>
<th class="head">Syntax</th>
<th class="head">Result</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>Select column</td>
<td><tt class="docutils literal"><span class="pre">df[col]</span></tt></td>
<td>Series</td>
</tr>
<tr class="row-odd"><td>Select row by label</td>
<td><tt class="docutils literal"><span class="pre">df.loc[label]</span></tt></td>
<td>Series</td>
</tr>
<tr class="row-even"><td>Select row by integer location</td>
<td><tt class="docutils literal"><span class="pre">df.iloc[loc]</span></tt></td>
<td>Series</td>
</tr>
<tr class="row-odd"><td>Slice rows</td>
<td><tt class="docutils literal"><span class="pre">df[5:10]</span></tt></td>
<td>DataFrame</td>
</tr>
<tr class="row-even"><td>Select rows by boolean vector</td>
<td><tt class="docutils literal"><span class="pre">df[bool_vec]</span></tt></td>
<td>DataFrame</td>
</tr>
</tbody>
</table>

In [ ]:
df

   one  bar   flag  foo  one_trunc
a  1.0  1.0  False  bar        1.0
b  2.0  2.0  False  bar        2.0
c  3.0  3.0   True  bar        NaN
d  NaN  NaN  False  bar        NaN

In [ ]:
df.loc['b']

one            2.0
bar            2.0
flag         False
foo            bar
one_trunc      2.0
Name: b, dtype: object

In [ ]:
df.iloc[2]

one           3.0
bar           3.0
flag         True
foo           bar
one_trunc     NaN
Name: c, dtype: object

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  0.775531  0.413622 -0.011050  0.067239
1  0.684971 -0.354946  0.213321  1.682692
2  0.091828  0.708515  0.552047  0.610756
3  1.593195  2.316173 -1.033909 -1.070532
4 -0.485348  0.611987 -1.133700 -1.186055
5  0.165900  0.660346 -0.819695  1.558406
6  1.154938 -0.070605 -1.609340 -0.513002
7  0.196753 -1.183730 -0.035263 -1.269380
8  0.701560  1.210404 -1.323050 -0.480736
9  0.924712 -0.383939  0.352611  0.886069

In [ ]:
df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])
df + df2

          A         B         C   D
0  1.587768  2.574276 -0.546612 NaN
1 -0.282692  0.209137  1.444881 NaN
2  0.433929  2.293343 -0.273680 NaN
3 -0.496574  1.197377 -0.476563 NaN
4 -0.195583  1.833903  0.389179 NaN
5 -2.006765  1.809316 -0.939311 NaN
6  0.007551  0.064449 -1.483624 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

In [ ]:
df.iloc[0]

A    0.775531
B    0.413622
C   -0.011050
D    0.067239
Name: 0, dtype: float64

In [ ]:
df - df.iloc[0]

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1 -0.090560 -0.768568  0.224371  1.615453
2 -0.683703  0.294893  0.563098  0.543517
3  0.817664  1.902551 -1.022858 -1.137771
4 -1.260879  0.198365 -1.122650 -1.253294
5 -0.609631  0.246723 -0.808645  1.491166
6  0.379407 -0.484228 -1.598290 -0.580242
7 -0.578778 -1.597352 -0.024212 -1.336619
8 -0.073972  0.796782 -1.312000 -0.547976
9  0.149181 -0.797561  0.363662  0.818829

In [ ]:
index = pd.date_range('1/1/2000', periods=36)
index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
               '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20',
               '2000-01-21', '2000-01-22', '2000-01-23', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03', '2000-02-04', '2000-02-05'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(8, 3),
                  index = pd.date_range('1/1/2000', periods=8),
                  columns = list('ABC'),
                  )
df

                   A         B         C
2000-01-01 -1.573617 -0.124555  0.273120
2000-01-02  1.385969 -0.339959  0.225610
2000-01-03  0.357687  0.363013 -0.206196
2000-01-04  1.693305  1.272864  0.109966
2000-01-05 -0.498371 -1.202558 -0.902102
2000-01-06 -0.227671  0.351713 -0.219102
2000-01-07 -1.386788 -0.576671 -2.197648
2000-01-08 -0.234705  2.345393 -0.368092

In [ ]:
type(df['A'])

pandas.core.series.Series

In [ ]:
# df.sub(df['A'], axis=1) # This is preferred way to replicate this behavior.
df - df['A'] # This is now deprecated and will be removed in a future release.

,2000-01-01 00:00:00,2000-01-02 00:00:00,2000-01-03 00:00:00,2000-01-04 00:00:00,2000-01-05 00:00:00,2000-01-06 00:00:00,2000-01-07 00:00:00,2000-01-08 00:00:00,A,B,C
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dfA = df.sub(df['A'], axis=0)
dfA

              A         B         C
2000-01-01  0.0  1.449062  1.846737
2000-01-02  0.0 -1.725928 -1.160359
2000-01-03  0.0  0.005326 -0.563883
2000-01-04  0.0 -0.420441 -1.583338
2000-01-05  0.0 -0.704188 -0.403732
2000-01-06  0.0  0.579384  0.008570
2000-01-07  0.0  0.810118 -0.810859
2000-01-08  0.0  2.580098 -0.133387

In [ ]:
dfA * 5 + 2

              A          B          C
2000-01-01  2.0   9.245312  11.233686
2000-01-02  2.0  -6.629639  -3.801794
2000-01-03  2.0   2.026630  -0.819414
2000-01-04  2.0  -0.102203  -5.916692
2000-01-05  2.0  -1.520938  -0.018658
2000-01-06  2.0   4.896921   2.042849
2000-01-07  2.0   6.050589  -2.054295
2000-01-08  2.0  14.900489   1.333066

In [ ]:
1/dfA

              A           B           C
2000-01-01  inf    0.690101    0.541496
2000-01-02  inf   -0.579398   -0.861802
2000-01-03  inf  187.757748   -1.773418
2000-01-04  inf   -2.378457   -0.631577
2000-01-05  inf   -1.420076   -2.476893
2000-01-06  inf    1.725971  116.690125
2000-01-07  inf    1.234388   -1.233260
2000-01-08  inf    0.387582   -7.496992

In [ ]:
dfA ** 4

              A             B             C
2000-01-01  0.0  4.409083e+00  1.163109e+01
2000-01-02  0.0  8.873410e+00  1.812880e+00
2000-01-03  0.0  8.046528e-10  1.011010e-01
2000-01-04  0.0  3.124775e-02  6.284851e+00
2000-01-05  0.0  2.458973e-01  2.656875e-02
2000-01-06  0.0  1.126851e-01  5.393412e-09
2000-01-07  0.0  4.307179e-01  4.322964e-01
2000-01-08  0.0  4.431438e+01  3.165570e-04

In [ ]:
df1 = pd.DataFrame({'a' : [1, 0, 1], 'b' : [0, 1, 1]}, dtype=bool)
df1

       a      b
0   True  False
1  False   True
2   True   True

In [ ]:
-df1

       a      b
0  False   True
1   True  False
2  False  False

In [ ]:
df2 = pd.DataFrame({'a' : [0, 1, 1], 'b' : [1, 1, 0]}, dtype=bool)
df2

       a      b
0  False   True
1   True   True
2   True  False

In [ ]:
df1 & df2

       a      b
0  False  False
1  False   True
2   True  False

In [ ]:
df1 | df2

      a     b
0  True  True
1  True  True
2  True  True

In [ ]:
df1 ^ df2

       a      b
0   True   True
1   True  False
2  False   True

In [ ]:
df[:5].T

   2000-01-01  2000-01-02  2000-01-03  2000-01-04  2000-01-05
A   -1.573617    1.385969    0.357687    1.693305   -0.498371
B   -0.124555   -0.339959    0.363013    1.272864   -1.202558
C    0.273120    0.225610   -0.206196    0.109966   -0.902102

In [ ]:
np.exp(df)

                   A          B         C
2000-01-01  0.207294   0.882890  1.314058
2000-01-02  3.998697   0.711799  1.253087
2000-01-03  1.430018   1.437655  0.813674
2000-01-04  5.437420   3.571065  1.116240
2000-01-05  0.607520   0.300425  0.405716
2000-01-06  0.796386   1.421500  0.803240
2000-01-07  0.249876   0.561766  0.111064
2000-01-08  0.790804  10.437372  0.692054

In [ ]:
np.asarray(df)

array([[-1.57361686, -0.12455452,  0.27312041],
       [ 1.38596864, -0.33995923,  0.22560991],
       [ 0.35768726,  0.36301327, -0.20619561],
       [ 1.69330465,  1.27286401,  0.10996622],
       [-0.49837051, -1.20255821, -0.90210217],
       [-0.22767146,  0.35171266, -0.21910176],
       [-1.38678848, -0.57667059, -2.19764758],
       [-0.23470493,  2.34539287, -0.36809177]])

In [ ]:
df.T.dot(df)

          A         B         C
A  9.670876  2.778510  3.628884
B  2.778510  9.286312  1.366172
C  3.628884  1.366172  6.007044

In [ ]:
s1 = pd.Series(np.arange(5, 10))
s1.dot(s1)

255

In [ ]:
import pandas as pd

df1 = pd.DataFrame([[1, 2], 
                    [3, 4]])

df2 = pd.DataFrame([[5, 6], 
                    [7, 8]])

print(df1.dot(df2))

    0   1
0  19  22
1  43  50

In [ ]:
np.arange(5, 10)

array([5, 6, 7, 8, 9])

In [95]:
baseball = pd.read_csv('https://raw.githubusercontent.com/imvickykumar999/YouTube-and-Instagram-as-INFINITE-file-storage/main/input/data.csv')
baseball

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [96]:
baseball.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   day       14 non-null     object
 1   outlook   14 non-null     object
 2   temp      14 non-null     object
 3   humidity  14 non-null     object
 4   wind      14 non-null     object
 5   play      14 non-null     object
dtypes: object(6)
memory usage: 800.0+ bytes

In [105]:
print(baseball.iloc[-6:, 4:].to_string())

      wind play
8     Weak  Yes
9     Weak  Yes
10  Strong  Yes
11  Strong  Yes
12    Weak  Yes
13  Strong   No

In [111]:
pd.DataFrame(np.random.randn(3, 12))

,0,1,2,3,4,5,6,7,8,9,10,11
0,2.545872,-0.699879,1.022104,0.191777,-0.296541,-0.341323,-0.665053,0.783548,-1.089101,-1.349399,-1.449551,0.036436
1,-0.433017,0.698034,-1.262442,0.099537,-0.740564,0.361168,-1.491204,-0.789368,0.238684,0.042280,0.494685,0.174141
2,1.078322,1.205830,-0.042276,-1.010006,-1.363314,0.740668,-2.802053,1.454428,-0.651698,1.172487,-0.437846,-1.119750

In [107]:
pd.set_option('display.width', 40)

In [109]:
print(pd.DataFrame(np.random.randn(3, 12)))

         0         1         2   \
0  0.135435  0.462997 -0.602112
1  0.238478  0.081137  1.218736
2  2.426004 -0.057579 -0.301575

         3         4         5   \
0 -1.150664 -0.228625 -1.016474
1 -0.476311  0.167438 -0.370103
2 -0.643431 -1.223921 -0.758226

         6         7         8   \
0 -0.135725 -1.265906 -0.297921
1  0.626319  0.500787  1.090389
2 -1.051780  2.114165 -0.366065

         9         10        11
0 -1.022232  0.380053  0.621858
1 -1.248571  0.002699  0.000990
2 -0.709903 -1.480310 -0.253394

In [129]:
df = pd.DataFrame({'foo1' : np.random.randn(5),
                   '2foo' : np.random.randn(5),
                   'foo 3' : np.random.randn(5)})
df

       foo1      2foo     foo 3
0  0.617813  0.127918 -1.014620
1  0.169309 -0.116848 -0.150833
2  1.446236  0.095694 -2.101995
3 -0.338701 -0.207064 -1.673937
4  1.290146 -0.398388 -1.475281

In [130]:
df.foo1

0    0.617813
1    0.169309
2    1.446236
3   -0.338701
4    1.290146
Name: foo1, dtype: float64

In [133]:
# df.2foo

In [134]:
# df.foo 3

In [ ]:
# https://pandas.pydata.org/pandas-docs/version/0.17.0/dsintro.html#panel